@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.mainContent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.container {
    /*max-width: 1120px;*/
    width: 100%;
    background-color: #F3F4F6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 24px;
    overflow: hidden;
}

.containerCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card_menber-info {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 1.5rem;
}

.card_member-name {
    /* position: absolute;
    bottom: 3rem;
    z-index: 3;
    left: 1.5rem; */
    color: #FFFEFE;
    font-size: 1.25rem;
    font-weight: 600;
}

.card_member-job {
    /* position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    z-index: 3; */
    color: #FFFEFE;
    font-size: 1rem;
    font-weight: 400;
}

.card_member-photo {
    width: 100%;
}

.card_member-gradient {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
}


.container_img-background {
    position: absolute;
    z-index: 0;
}

.card_info {
    grid-column: span 2 / span 2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.card_info-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: #263FA9;
}

.card_info-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.card_info-text {
    font-size: 1rem;
    font-weight: 400;
    color: #394150;
    width: 90%;
}

.card_member_1 {
    grid-column-start: 3;
    background-color: #C1B6F8;
}

.card_member_2 {
    grid-column-start: 4;
    background-color: #EDACD2;
}

.card_member_3 {
    grid-row-start: 2;
    background-color: #9DC4F8;
}

.card_member_4 {
    grid-row-start: 2;
    background-color: #F8D8B0;
}

.card_member_5 {
    grid-row-start: 2;
    background-color: #86E7D4;
}

.card_link {
    grid-row-start: 2;
    grid-column-start: 1;
    padding: 2rem;
}

.card_link-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #394150;
    gap: 0.25rem;
}

.card_link-img {
    align-self: flex-end;
}

.author-info {
        font-size: 14px;
        text-align: center;
        padding: 1rem;
        color: rgb(55, 65, 81);
      }

      .author-info a {
        text-decoration: none;
      }

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card_info-text {
        width: 60%;
    }

    .card_info {
        grid-column: 1 / span 3;
    }

    .card_member_1 {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .card_member_2 {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .card_member_3 {
        grid-row-start: 2;
        grid-column-start: 3;
    }

    .card_member_4 {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .card_member_5 {
        grid-row-start: 3;
        grid-column-start: 3;
    }

    .card_link {
        grid-row-start: 3;
        grid-column-start: 1;
    }
}

@media (max-width: 832px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .card_info-text {
        width: 85%;
    }

    .card_info {
        grid-column: 1 / span 2;
    }

    .card_member_1 {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .card_member_2 {
        grid-row-start: 2;
        grid-column-start: 2;
    }

    .card_member_3 {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .card_member_4 {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .card_member_5 {
        grid-row-start: 4;
        grid-column-start: 1;
    }

    .card_link {
        grid-row-start: 4;
        grid-column-start: 2;
    }
}

@media (max-width: 640px) {

    .mainContent {
        padding: 1rem;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(6, 1fr);
    }

    .card_info-text {
        width: 64%;
    }

    .card_info {
        grid-column-start: 1;
        padding-bottom: 6rem;
    }

    .card_member_1 {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .card_member_2 {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .card_member_3 {
        grid-row-start: 4;
        grid-column-start: 1;
    }

    .card_member_4 {
        grid-row-start: 5;
        grid-column-start: 1;
    }

    .card_member_5 {
        grid-row-start: 6;
        grid-column-start: 1;
    }

    .card_link {
        grid-row-start: 7;
        grid-column-start: 1;
    }

}

@media (max-width: 480px) {
    .card_info-text {
        width: 100%;
    }
}